@using MvcKütüphane.Models.Entity
@model List<KATEGORI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategoriler</h2>

<table class="table table-bordered">
    <tr>
        <th>KATEGORI ID</th>
        <th>KATEGORI ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var ktg in Model)
    {
<tr>
    <td>@ktg.KATEGORI_ID</td>
    <td>@ktg.KATEGORI_AD</td>
    <td><a href="/Kategori/KategoriSil/@ktg.KATEGORI_ID" class="btn btn-default"style="background-color:coral">Sil</a></td>
    <td><a href="/Kategori/KategoriGetir/@ktg.KATEGORI_ID" class="btn btn-success">Güncelle</a></td>


</tr>
    }
</table>
<a href="/Kategori/KategoriEkle" class="btn btn-info">Yeni Kategori Ekle</a>